.burger-menu {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  border: 0;
  padding: 0;
  height: 72px;
  width: 72px;
  background-color: #242424;

  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .burger-menu {
    display: block;
  }
}