.pages-navigation__links {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  padding: 0 29px 0 0;
}

@media screen and (max-width: 414px) {
  .pages-navigation__links {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}