.pages-navigation__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-grow: 1;
  column-gap: 22px;
  row-gap: 10px;
  justify-content: flex-start;

  padding: 10px 29px 0 0;
}

@media screen and (max-width: 449px) {
  .pages-navigation__links {
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0 0 0;
    padding: 0;
    row-gap: 25px;
  }
}