.collab {
  background-color: #ecebe8;
  padding: 100px 222px 169px 692px;
}

@media (max-width: 1210px) {
  .collab {
    padding: 90px 150px 100px 500px;
  }
}

@media (max-width: 960px) {
  .collab {
    padding: 80px 100px 100px 400px;
  }
}

@media (max-width: 800px) {
  .collab {
    padding-left: 300px;
  }
}
@media (max-width: 700px) {
  .collab {
    padding-left: 200px;
  }
}

@media (max-width: 600px) {
  .collab {
    padding: 76px 24px 100px 57px;
  }
}
