.pages-navigation {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

@media screen and (max-width: 449px) {
  .pages-navigation {
    grid-area: pages-navigation;
    display: none;
    font-size:  25px;
    line-height: 1.16;
  }
}