.videos__title{
    margin: 0 0 45px 330px;
    max-width: 568px;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: --text-dark;
}

@media screen and (max-width: 1200px){
    .videos__title{
        font-size: 28px;
        line-height: 32px;
        margin: 0 auto 32px auto;
    }
}