.videos__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
    justify-content: center;
    align-items: center;
    gap: 58px;
}

@media screen and (max-width: 1200px){
    .videos__grid{
        gap: 30px;
    }
}