.video__paragraph{
    max-width: 716px;
    max-height: 392px;
    margin: 55px auto 0 auto;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    color: --text-dark;
}

@media screen and (max-width: 1200px){
    .video__paragraph{
        font-size: 20px;
        line-height: 28px;
        max-height: 756px;
    }
}