.social-media__link {
  box-sizing: border-box;
  color: #242424;
  text-decoration: none;
  display: block;
  margin: 10px 0 0;
  padding: 0 8px 0;
  border-right: 1px solid rgba(236, 235, 232, 1);
  border-left: 1px solid rgba(236, 235, 232, 1);
  border-radius: 8px;
}

.social-media__link:hover {
  border-color: rgba(36, 36, 36, 1);
}