.intro__content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .intro__content {
    position: relative;
    flex-direction: column;
    justify-content: unset;
  }
}
