.intro__title {
  display: block;
  height: 140px;
  margin-top: 15.5px;
  padding-left: calc(100% - 720px);
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.01em;
  color: --text-dark;
  float: right;
}

@media screen and (max-width: 1200px) {
  .intro__title {
    max-width: 323px;
    height: 40px;
    padding: 0;
    margin-top: 58px;
    margin-left: 5.8%;
    margin-right: 0;
    font-size: 40px;
    line-height: 40px;
  }
}
